<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.login_signup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Meta data for your file for server url -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <meta-data
        android:name="com.parse.SERVER_URL"
        android:value="@string/back4app_server_url" /> <!-- Meta data for your file for application id -->
    <meta-data
        android:name="com.parse.APPLICATION_ID"
        android:value="@string/back4app_app_id" /> <!-- Meta data for your file for client key -->
    <meta-data
        android:name="com.parse.CLIENT_KEY"
        android:value="@string/back4app_client_key" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="PET IDENTIFICATION"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login_signup"
        tools:targetApi="31">
        <activity
            android:name=".DetailActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".forgot_Password"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".mail"
            android:exported="false" />
        <activity
            android:name=".otp"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".login" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".login"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".UploadActivity"
            android:exported="true" />
        <activity
            android:name=".secondFragment"
            android:exported="true" />
        <activity
            android:name=".ThirdFragment"
            android:exported="true" />
    </application>

</manifest>